@import "variables";
footer {
  background-color: $general-style;
  position: relative;
  margin: 0 auto;
  width: 1170px;
  height: 350px;
  padding-left: $padding-left-right + 5px;
  padding-right: $padding-left-right + 5px;
}

#footer-inner-top {

}

.footer-middle-container .fa-angle-right {
  margin-right: 8px;
}

.footer-right-header i{
  font-family: OpenSans-Italic, sans-serif;
}

.footer-right-header b{
  font-family: OpenSans-Bold, sans-serif;
  text-transform: uppercase;
}

.footer-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 19px;
}
/* left-container begin */
.footer-left-container {
  position: relative;
  top:10px;
  display: inline-block;
}

.footer-left-span {
  position: relative;
  top: 50px;
  display: block;
  width: 370px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
}

table.footer-left-table {
  position: relative;
  top: 70px;
  width: 250px; /* Ширина таблицы */
  color: white; /* Цвет текста */
  border-spacing: 1px; /* Расстояние между ячейками */
}

table.footer-left-table td {
  font-weight: normal;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-style: normal;
  text-align: left;
}

table.footer-left-table th {
  font-size: 20px;
  font-family: OpenSans-SemiboldItalic, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  vertical-align: center;
}
/* left-container end */

/* middle-container begin */
.footer-middle-container {
  position: relative;
  left: 30px;
  display: inline-block;
  vertical-align: top;
}

.footer-list-container {
  display: inline-block;
  position: relative;
  top: 40px;
  vertical-align: top;
}

.footer-list-header {
  display: table-caption;
  position: relative;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.502);
  font-family: OpenSans-Bold, sans-serif;
  font-weight: bold;
  text-align: left;
}

.footer-list-container ul{
  position: relative;
  left: 25px;
  top: 30px;
}
.footer-list-container:last-child {
  margin-left: 100px;                /* margin between lists */
}

.footer-list-link {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  text-decoration: none;
}
/* middle-container end */

/* right-container begin */
.footer-right-container {
  position: absolute;
  right: 150px;
  top: 45px;
  display: inline-block;
}

.footer-right-header {
  position: relative;
  left: 18px;
  font-size: 20px;
  color: white;
}

i, b {
  font-size: inherit;
}

table.footer-right-table {
  position: relative;
  top: 15px;
  width: 350px;
  color: rgb(255, 255, 255);
  border-spacing: 15px;
   }

table.footer-right-table td {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
}

table.footer-right-table th {
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  vertical-align: top;
}

.footer-right-date {
  font-size: inherit;
  color: rgba(0, 0, 0, 0.502);
  line-height: 1.7;
  text-align: left;
}
/* right-container end */

/*-----------------------------------------------------------------------------------*/
// Bottom footer part

.footer-inner-bottom {
  padding-left: 165px;
  padding-right: 165px;
  height: 50px;
  width: 1170px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.102);
}

.footer-bottom-sitename {
  font-size: 12px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 165px;
  top: 20px;
}

.social_icons {
  margin-right: 20px;
  position: absolute;
  right: 165px;
  top: 12px;
}

.icon1 {
  display: inline-block;
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.icon1:last-child {
  margin: 0;
}

.icon1 a {
  color: rgb(255, 255, 255);
}

