@import "menu";

header {
    position: relative;
    background-color: $general-style;
    width: $section-width - ($padding-left-right*2);
    height: 80px;
    margin: 0 auto;
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
}

#header-border{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 9px;
    width: $section-width;
}