@import "variables";
@import "menu";

header {
    position: relative;
    background-color: rgb(118, 199, 192);
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
}

#header-border{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 9px;
    width: 1500px;
}