@import "variables";

#home-button { /* personal style for home button */
  background-color: darken($general-style, 20%);
  box-shadow: 0 3px darken($general-style, 25%);
}
/* Navigation */
#nav{
  position: absolute;
  right: 10%;
  top: 30%;
  font-family: OpenSans-Semibold, sans-serif;
  font-size: 13px;
  letter-spacing: normal;
  margin: 0 auto;
  float: left;
  list-style: none;
  text-decoration: none;
}

#nav li{
  float: left;
  position: relative;
  display: block;
  text-decoration: inherit;
}

#nav li a{
  display:block;
  padding: 10px 15px 7px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-decoration: inherit;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#nav li a:hover{
  color:#fff;
  background-color: $button-background;
  box-shadow: 0 3px darken($button-background, 5%);
  text-decoration: inherit;
}

/* Drop-down links */
#nav ul{
  z-index: 1;
  font-family: OpenSans-Semibold, sans-serif;
  padding-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  list-style:none;
  position:absolute;
  margin-top: 15px;
  /*left:-9999px;                            /* Behing the screen */
  opacity:0;                                 /* Initial opacity state */
  -webkit-transition: 0.25s linear opacity;
  background-color: darken($button-background, 5%);
  border-radius: 5px;
}

#nav ul:before {
  content:"";
  position: absolute;
  right: 82%;
  top: -7px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid darken($button-background, 5%);
}

#nav ul li{
  margin-top: 4px;
  background-color: $button-background;
  text-decoration: none;
  padding-bottom:4px; /* margin between list items*/
  float:none;
  border-radius: 5px;
}
#nav ul li:hover {
  background-color: transparent;
}
#nav ul a{
  white-space: nowrap; // delete line break
  display: block;
}
#nav li:hover ul{       /* Output the drop-down item */
  //left:0;               /* back in the screen */
  opacity:1;            //delete opacity
}

#nav li:hover ul a{
  text-decoration:none;
  -webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ //style for item on hover
  background: $general-style;
  box-shadow: 0 3px darken($general-style, 5%);
  text-decoration: none;
  -moz-transform:scale(1.02);
  -webkit-transform:scale(1.02);
}

#nav li:hover ul li a:active{
  background: darken($general-style, 5%);
  transform: translateY(3px);
  text-decoration: none;
}