@import "variables";
$inner-intro-left-padding: 30px;
$inner-intro-top-padding: 15px;

.section_intro {
    background-color: rgb(243, 243, 243);
    width: $section-width;
    height: 200px;
    margin: 0 auto;
}

.section_inner_intro {
    position: relative;
    top: 50px;
    margin: inherit;
    padding-left: $inner-intro-left-padding;
    padding-top: 25px;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    width: $section-width - ($padding-left-right*2) - $inner-intro-left-padding;
    height: 100px - $inner-intro-top-padding;
}

.intro-button {
    position: absolute;
    right: 3%;
    top: 29%;
    text-transform: uppercase;
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: $button-background;
    box-shadow: 0 3px darken($button-background, 6%);;
}

.intro-button:hover {opacity: 0.95;}

.intro-button:active {
    background-color: rgb(226, 83, 75);
    transform: translateY(3px);
}

.intro-big-header {
    position: relative;
    vertical-align: middle;
    font-family: "OpenSans-Semibold", serif;
    font-size: 30px;
    color: rgb(127, 140, 140);
}

.intro-text {
    position: relative;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(119, 119, 119);
}

.slider-trigger-container{
    position: relative;
    top: 20px;
    display: table;
    margin: 0 auto;
}

.slider-trigger {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    background-color: rgb(176, 184, 185);
    width: 60px;
    height: 5px;
    cursor: pointer;
}

.slider-trigger:active {
    background-color: $button-background;
}



