.section_home {
    margin: 0 auto;
    background-color: rgb(127, 140, 140);
    position: relative;
    width: 1500px;
    height: 500px;
}

.big-span {
    display: table;
    position: relative;
    margin: 0 auto;
    top: 150px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    background-color: rgb(226, 83, 75);
    text-transform: uppercase;
    font-family: "OpenSans-ExtraBold", serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.little-span {
    width: 470px;
    position: relative;
    top: 160px;
    display: table;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 7px;
    padding: 15px 20px 15px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

.prev_button, .next_button {
    position: absolute;
    top: 200px;
    cursor: pointer;
    display: table;
    padding: 0px 10px 8px 10px;
    outline: none;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px rgb(220, 83, 75);
    background-color: rgb(250, 83, 75);
    border-radius: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

//.prev_button:hover, .next_button:hover {background-color: rgba(226, 83, 75, 0.95);}

.prev_button:active, .next_button:active {
    background-color: rgb(226, 83, 75);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.prev_button {
    left: 0;
}

.next_button {
    right: 0;
}




