@import "variables";
@import "windows.scss";
.section_about {
    position: relative;
    margin: 0 auto;
    height: 870px;
    width: 1500px - ($padding-left-right*2);
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
    background-color: rgb(236, 236, 236);
}

/*  Section About top border */
.border2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 1500px;
}

.top-bigHeader {
    position: relative;
    top: 40px;
    font-size: 40px;
    color: rgb(225, 82, 75);
    text-align: center;
    text-transform: uppercase;
}

.top-littleHeader {
    position: relative;
    top: 40px;
    margin: 0 auto;
    font-size: 13px;
    color: rgb(119, 119, 119);
    text-align: center;
}

.about-container {
    position: relative;
    top: 150px;
    width: 100%;
}

.left-container {
  display: table-cell;
}

.left-header, .right-header {
  font-size: 16px;
  color: rgb(127, 140, 140);
  font-family: "OpenSans-ExtraBold", sans-serif;
  text-align: left;
}

.left-list {
  position: relative;
  top: 20px;
  list-style-type: none;
  padding: 4px;
}

ul.left-list li {
  font-size: 13px;
  color: rgb(119, 119, 119);
  line-height: 2;
  text-align: left;
}

.center-container {
    width: 550px;
    height: 200px;
    display: table-cell;
    position: relative;
    left: 90px;
}

.center-caption {
    display: block;
    width: 535px;
    position: relative;
    font-size: 13px;
    color: rgb(119, 119, 119);
    line-height: 1.9;
}

.about_ul {
    position: relative;
    top: 40px;
    list-style-type: none;
    padding: 4px;
}

ul.about_ul li {
  font-size: 13px;
  color: rgb(119, 119, 119);
  line-height: 2;
  text-align: left;
}
/*
.half_round {
    content: "";

    top: 0;
    width: 86px;
    height: 40px;
    border-top: 18px solid green;
    border-left: 18px solid blue;
    border-right: 18px solid red;
    -moz-border-radius: 87px 25px 0 0px;
         border-radius: 87px 87px 0 0px;
}
*/

.halfround-image {
  position: absolute;
  width: 120px;
  height: 58px;

}
.skills_container {
    position: relative;
    top: 0;
    display: table;
    width: 560px;
    height: 150px;
  vertical-align: top;
}

.skills {
    display: inline-block;
    position: relative;
    top: 60px;
    margin-right: 20px;
    width: 120px;
    height: 100px;
}

.about_num {
    position: relative;
    top: 25px;
    text-align: center;
    font-family: "OpenSans-ExtraBold", sans-serif;
    font-size: 30px;
    color: rgb(127, 140, 140);
}

.skills_span {
  position: relative;
  top: 30px;
  font-family: "OpenSans-ExtraBold", sans-serif;
  font-size: 16px;
  color: rgb(127, 140, 140);
  text-align: center;
  text-transform: uppercase;
}

.clients_say {
    display: table-cell;
    position: absolute;
    right: 0;
    top: 0;
}

.clients_text {
   width: 240px;
   background-color: rgb(248, 248, 248);
   position: relative;
   top: 25px;
   //left: 20px;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
   text-align: left;
   padding: 15px;
}
.clients_text:after {
   content:"";
   position: absolute;
   left: 20px;
   top: 125px;
   width: 0;
   height: 0;
   border-top: 35px solid rgb(248, 248, 248);
   border-left: 35px solid transparent;
   //margin: 80px 0 0 20px;
}

.clients_span {
  font-family: OpenSans-Italic, sans-serif;
  font-size: 13px;
  color: rgb(119, 119, 119);

  line-height: 1.9;
  text-align: left;
}

.clients_name {
    position: relative;
    top: 35px;
    left: 65px;
    font-size: 16px;
    color: rgb(119, 119, 119);
    line-height: 1.9;
    text-align: left;
}

