@import "variables";
.section-home {
    margin: 0 auto;
    background-color: rgb(127, 140, 140);
    position: relative;
    width: $section-width;
    height: 500px;
}

.big-span {
    display: table;
    position: relative;
    margin: 0 auto;
    top: 150px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    background-color: $button-background;
    text-transform: uppercase;
    font-family: "OpenSans-ExtraBold", serif;
    font-size: 50px;
}

.little-span {
    width: 470px;
    position: relative;
    top: 160px;
    display: table;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 7px;
    padding: 15px 20px 15px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.prev-button, .next-button {
    position: absolute;
    top: 200px;
    cursor: pointer;
    display: table;
    padding: 0 10px 8px 10px;
    outline: none;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px  darken($button-background, 6%);
    background-color: $button-background;
    border-radius: 5px;
    font-size: 40px;
}

.prev-button:active, .next-button:active {
    background-color: rgb(226, 83, 75);
    transform: translateY(3px);
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}




