.section_clients {
    position: relative;
    height: 225px;
    width: 1180px;
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
    padding-left: 160px;
    padding-right: 160px;
}

.left-header2 {
    display: inline-block;
    position: relative;
    top: 10px;
    font-size: 16px;
    color: rgb(127, 140, 140);
    font-family: "OpenSans-ExtraBold", sans-serif;
    text-align: left;
}

.line-container {
    position: relative;
    top: 9px;
    left: 15px;
    display: inline-block;
}

.line-begin {
    display: inline-block;
    vertical-align: center;
    background-color: rgb(225, 226, 226);
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.why {
    display: inline-block;
    position: relative;
    top: 5px;
}

.line {
    display: inline-block;
    vertical-align: center;
    background-color: rgb(225, 226, 226);
    position: absolute;
    top: 3px;
    width: 880px;
    height: 1px;
}

.jquery_rectangle {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    width: 170px;
    height: 90px;
}

.clients_jquery {
    position: relative;
    top: 65px;
    text-align: justify;
    letter-spacing: 30px;
}

.button-container {
    position: absolute;
    top: 0;
    right: 160px;
    display: inline-block;
    letter-spacing: 19px;
}

.client_button {
    letter-spacing: normal;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px rgb(127, 140, 140);
    background-color: rgb(150, 163, 163);
}

.client_button:hover {background-color: rgba(226, 83, 75, 0.95);box-shadow: 0 3px rgb(226, 83, 75);}

.client_button:active {
    background-color: rgb(226, 83, 75);
    box-shadow: 0 2px rgb(226, 83, 75);
    transform: translateY(3px);
}
