$font-color: rgb(255, 255, 255);

.site_name, .site_name2 {
    position: relative;
    display: block;
    top: 25px;
    width: 200px;
}

.modus {
    display: inline;
    font-family: OpenSans-ExtraBold;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    color: $font-color;
}

.versus {
    font-family: inherit;
    margin-left: 3px;
    display: inline;
    vertical-align: bottom;
    font-size: 25px;
    color: $font-color;
}