@import "variables";

.slider-container .item {
  float: left !important;
  width: $section-width;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-container {
  width: $section-width*3;
}

.section-home {
  overflow: hidden !important;
}

.slider-trigger-active {
  background-color: $button-background !important;
}

.slider-container {
  transition: 1s !important;
}

.fa-angle-right {
  margin-right: 9px;
}

.fa-angle-down {
  margin-right: 9px;
}

