@import "reset.scss";
@import "fonts.scss";
@import "site_name.scss";
@import "header.scss";
@import "slider.scss";
@import "section_home.scss";
@import "section_intro.scss";
@import "section_services.scss";
@import "section_about.scss";
@import "section_clients.scss";
@import "footer.scss";

body {
  font-family: "OpenSans-Regular", sans-serif;

  a {
    font-size: inherit;
  }

  color: rgb(255, 255, 255);
}

